env_*

exp_db.csv

generations_*
evaluations_*
compilations.csv
evaluations.csv

scratch/*

job_scripts/*

__pycache__
experiments_backup/
experiments_backup2/
experiments_backup3/
experiments_backup*
experiments_backup.zip
experiments_backup*.zip
experiments_all*.zip

*.tex

.ninja_deps
.ninja_log
build.ninja
cuda.cu 
cuda.cuda.o
main.cpp 
main.o 
matmul_op.so 
